@import "./styles/main.scss";

.App {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: $whiteColor;
  overflow: hidden;
}

* {
  transition-duration: 0.3s;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
